<nav class="navbar navbar-default fly-book-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand fly-book-navbar-text" href="/">FlyBook</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="first-nav-el"><a href="/">Home</a></li>
      <li><a href="shop">Shop</a></li>
        <li><a href="orders">Orders</a></li>
        <li><a href="settings">Settings</a></li>
      <li>
        <a class="cart-nav-el" href="cart" aria-label="Cart">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="M280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM246-720l96 200h280l110-200H246Zm-38-80h590q23 0 35 20.5t1 41.5L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68-39.5t-2-78.5l54-98-144-304H40v-80h130l38 80Zm134 280h280-280Z"/></svg>
        </a>
      </li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if(locals.isLoggedIn != null && locals.isLoggedIn == true) { %>
        <li class="nav-username-container">
          <h1 class="nav-username">Hello, <%= locals.username %></h1>
        </li>
        <li><a href="signout">Sign out</a></li>
      <% } else { %>
        <li class="first-nav-el-right"><a href="login">Login</a></li>
        <li><a href="signup">Sign up</a></li>
      <% } %>
    </ul>
  </div>
</nav>

