<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>UI E-Commerce Website - Cart</title>
<link rel="stylesheet" href="/styles/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>
    <%- include('../partials/navbar.ejs') %>

    <div class="page-title">
        <h1>Checkout</h1>
    </div>
    <hr />

    <div class="checkout-review-container">
        <div class="checkout-content-tmp">
            <h2>Payment</h2>
            <form action="/checkout" method="post">
                <label>Credit Card Number</label><br>
                <input type="text" id="creditCardNumber" name="creditCardNumber" placeholder="Credit Card Number">
                <label>CVV</label>
                <input type="text" id="cvv" name="cvv" placeholder="CVV">
                <label>Card Holder Name</label>
                <input type="text" id="cardHolderName" name="cardHolderName" placeholder="Card Holder Name">
                <input type="submit">
            </form>
        </div>
        <div class="checkout-vert-line">
        </div>
        <div class="checkout-content-tmp">
            <h2>Summary</h2>
            <% data.cart.forEach(item => { %>
                <li><%= item.book.title %></li>
                <li><%= item.book.price %></li>
                <button onclick="removeItem('<%= item.book.id %>')">Remove Item</button>
            <% }) %>
        </div>
    </div>
</body>
</html>

<script type="text/javascript" src="/scripts/cart.js"></script>