<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    
    <div class="page-title-container">
        <h1 class="page-title">Home</h1>
    </div>
    <hr class="page-title-hr">
    
    <div class="content">
        <div class="home-banner-container">
            <h1 class="home-banner-text">Purchase Books On-The-Fly With FlyBook!</h1>
        </div>
        <div class="home-content-text-container">
            <p class="home-content-text">
                FlyBook is your one-stop shop for some of your favorite books delivered to your doorstep. 
                Just create an account and log in to start now, or feel free to browse the catalog of
                books in the shop page.
            </p>
        </div>
    </div>
</body>
</html>