<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <h1>UI Final Project</h1>
    </div>

    <div class="nav">
        <a href="index.html">Home</a>
        <a href="shop.html">Shop</a>
        <a href="login.html">Log In</a>
        <a href="signup.html">Sign Up</a>
        <a href="cart.html">Cart</a>
    </div>
    
    <div class="content">
        <h2>Home</h2>
        <p>
            Not sure if we will even need a home page but this is here for now in case we want this to be an intro for our project or we can put a few featured items here similar to other e-commerce sites. 
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta voluptates officiis et, recusandae sapiente expedita dolore similique dolorem enim nisi ipsa quos rem quia repellat alias quae architecto aliquid, facere dolorum voluptatibus vitae, ipsum! Dolore ea aliquid tempora excepturi, omnis dolor consequuntur commodi, nemo iste ipsa ullam voluptas id mollitia.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At incidunt adipisci ex ratione cumque laudantium non officia est, ad neque sint, nostrum omnis vitae repudiandae temporibus vel tempore, natus quidem nulla.
        </p>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, necessitatibus. Eaque, a! Accusantium, necessitatibus? Ad, sequi voluptatem, cupiditate delectus excepturi repellendus illo debitis voluptas sed numquam reprehenderit ut. Officiis quia hic maiores asperiores dolor ut ea aut? Eaque iure dolores eius exercitationem tempore placeat asperiores commodi aperiam facilis nemo beatae id enim vitae, iste adipisci dolore. Quos, ex praesentium iste, earum aspernatur beatae officiis nulla reiciendis veniam unde officia doloribus rerum, blanditiis eligendi architecto odit dolorum illum. Perferendis odit, in et, quis provident voluptatum illum maxime corrupti repellendus explicabo consectetur debitis, magnam corporis nesciunt sapiente eius totam? Temporibus, soluta! Explicabo.
        </p>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, deleniti consequatur consectetur cumque dolore numquam, inventore molestias vitae minus ex suscipit aspernatur eveniet quibusdam? Eum hic quae porro quas. Alias saepe consequuntur nostrum dolore expedita qui libero magni, enim atque rem reprehenderit dicta ratione, minus unde aut recusandae dolorem quam molestiae molestias veniam ipsum quod incidunt ea nesciunt? Consequatur vitae debitis minus commodi omnis quo? Mollitia quibusdam, reiciendis sequi aspernatur eius dolorum totam delectus qui, debitis ipsum incidunt suscipit? Eos tempora est, nihil, illo excepturi quas at explicabo dolorem architecto molestiae facere consequatur. Expedita enim excepturi voluptatibus minus dicta aperiam.
        </p>
    </div>

    <div class="footer">
        <a href="index.html#top">Back to Top</a>
    </div>
</body>
</html>