<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>UI E-Commerce Website - Log In</title>
<link rel="stylesheet" href="/styles/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>
    <%- include('../partials/navbar.ejs') %>

    <div class="content">
        <div class="login-form">
            <h2 class="login-title">Log In</h2>
            <div class="login-h-line"></div><br><br><br>
            <form class="form-horizontal" action="/login" method="post">
                <label class="login-form-field-label" for="username">Username:</label><br>
                <input class="form-control" type="text" id="username" name="username" required><br><br>
                <label class="login-form-field-label" for="password">Password:</label><br>
                <input class="form-control" type="password" id="password" name="password" required><br><br>

                <% if(locals.error != null && locals.error == 'authFailed') { %>
                    <p class="error-feedback-message">Failed to login. Verify username and password were type correctly</p>
                <% } %>

                <div class="signup-link-position-right">
                    <a href="signup">Create an account</a><br>
                </div>
                
                <div class="center-content">
                    <input class="login-input-button" type="submit" value="Log In">
                </div>
            </form>
        </div>
    </div>
</body>
</html>