<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Orders</title>
<link rel="stylesheet" href="/styles/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>
    <%- include('../partials/navbar.ejs') %>

    <div class="page-title-container">
        <h1 class="page-title">Orders</h1>
    </div>
    <hr class="page-title-hr">

    <% if(data.length == null || data.length < 1) { %>
        <div class="center-content">
            <p class="no-items-feedback">No orders found</p>
        </div>
    <% } else { %>
    <div class="orders-container">  
    <% data.forEach((order) => { %>
        <div class="order-card">
            <p><span style="font-weight: bold;">Transaction ID:</span> <%= order.id %></p>
            <p><span style="font-weight: bold;">Total:</span> $<%= order.total %></p>
            <p><span style="font-weight: bold;">Date of Transaction: </span><%= order.date %></p>
        </div>

    <% })} %>
    </div>
</body>
</html>