<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>UI E-Commerce Website - Shop</title>
<link rel="stylesheet" href="/styles/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>
    <%- include('../partials/navbar.ejs') %>

    <div class="page-title">
        <h1>Orders</h1>
    </div>
    <hr />

    <div class="orders-container">
        <div class="order-card">
            <p>1</p>
        </div>
        <div class="order-card">
            <p>2</p>
        </div>
        <div class="order-card">
            <p>3</p>
        </div>
        <div class="order-card">
            <p>4</p>
        </div>
        <div class="order-card">
            <p>5</p>
        </div>
        <div class="order-card">
            <p>6</p>
        </div>
        <div class="order-card">
            <p>7</p>
        </div>
        <div class="order-card">
            <p>8</p>
        </div>
        <div class="order-card">
            <p>9</p>
        </div>
    </div>
</body>
</html>