<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>UI E-Commerce Website - Sign Up</title>
<link rel="stylesheet" href="/styles/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <div class="content">
        <div class="signup-form">
            <h2 class="login-title">Sign up</h2>
            <div class="login-h-line"></div><br><br><br>
            <form class="form-horizontal" action="/signup" method="post">
                <label class="login-form-field-label" for="username">Username:</label><br>
                <input class="form-control" type="text" id="username" name="username"><br>
                <label class="login-form-field-label" for="email">Email:</label><br>
                <input class="form-control" type="text" id="email" name="email"><br>
                <label class="login-form-field-label" for="password">Password:</label><br>
                <input class="form-control" type="password" id="password" name="password"><br>
                <label class="login-form-field-label" for="repassword">Re-enter Password:</label><br>
                <input class="form-control" type="password" id="repassword" name="repassword"><br><br>

                <input class="signup-input-button" type="submit" value="Sign Up">
            </form>
        </div>
    </div>


    <form class="form-horizontal" action="/signup" method="post" onsubmit="return validatePassword()">
        
    </form>
    <script>
        function validatePassword() {
            var password = document.getElementById("password").value;
            var repassword = document.getElementById("repassword").value;
            if (password != repassword) {
                alert("Passwords do not match.");
                return false;
            }
            return true;
        }
    </script>

</body>
</html>