:root {
    --primary-color: rgb(209, 118, 0);
    --primary-color-dark: rgb(194, 110, 0);
    --hover-color: rgb(233, 144, 27);
    --button-border-color-a: #734202;
    --text-color-a: rgb(255, 255, 255);
    --text-color-a-25: rgb(225, 225, 225);
    --text-color-a-50: rgb(200, 200, 200);
    --text-color-b: rgb(0, 0, 0);
    --text-color-b-25: rgb(30, 30, 30);
    --text-color-b-50: rgb(80, 80, 80);
}

.dark-mode {
    --primary-color: rgb(80, 80, 80);
    --primary-color-dark: rgb(30, 30, 30);
    --hover-color: rgb(90, 54, 0);
    --button-border-color-a: rgb(80, 80, 80);
    --text-color-a: rgb(0, 0, 0);
    --text-color-a-25:rgb(30, 30, 30);
    --text-color-a-50: rgb(80, 80, 80);
    --text-color-b: rgb(255, 255, 255);
    --text-color-b-25: rgb(225, 225, 225);
    --text-color-b-50: rgb(200, 200, 200);
}

.light-mode {
    --primary-color: rgb(209, 118, 0);
    --primary-color-dark: rgb(194, 110, 0);
    --hover-color: rgb(233, 144, 27);
    --button-border-color-a: #734202;
    --text-color-a: rgb(255, 255, 255);
    --text-color-a-25: rgb(225, 225, 225);
    --text-color-a-50: rgb(200, 200, 200);
    --text-color-b: rgb(0, 0, 0);
    --text-color-b-25: rgb(30, 30, 30);
    --text-color-b-50: rgb(80, 80, 80);
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
}

body {
    min-height: 100vh;
    background-color: var(--text-color-a);
    color: var(--text-color-b)
}

.search-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.orange-btn {
    background-color: darkorange;
    border: 1px, solid, grey;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.page-title {
    font-size: 16;
    text-align: center;
}

/* ---------------------- Navbar styles ---------------------- */

.fly-book-navbar {
    background-color: var(--primary-color);
    box-shadow: 0px 2px 10px var(--text-color-b);
    border-color: var(--primary-color-dark) !important;
    border-radius: 0px !important;
}

.fly-book-navbar-text {
    color: var(--text-color-a) !important;
    font-weight: bold;
    font-size: x-large;
}

nav > div > ul > li > a {
    background-color: var(--primary-color) !important;
    color: var(--text-color-a) !important;
    font-size: medium;
    font-weight: bold;
}

nav > div > div > a {
    background-color: var(--primary-color) !important;
    color: var(--text-color-a) !important;
}

nav > div > ul > li > a:hover {
    background-color: var(--hover-color) !important;
}

.first-nav-el {
    border-left: 2px solid var(--primary-color-dark);
}

nav > div > ul > li {
    border-right: 2px solid var(--primary-color-dark);
}

nav > div > ul > li > a {
    text-align: center;
    width: 120px;
}

label {
    margin-bottom: 0px;
}

.cart-nav-el {
    background-color: yellow !important;
    color: black !important;
    overflow: hidden;
    height: 50px;
}

.cart-nav-el:hover {
    background-color: rgb(255, 255, 161) !important;
    color: black !important;
}

/* ---------------------- Shop styles ---------------------- */
/* sticky nav bar might be needed */
.shop-items-container {
    margin-left: 3%;
    margin-right: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    justify-content: space-evenly;
    justify-items: center;
    padding-right: 5px;
}

.item-title-label {
    color: var(--text-color-b);
    font-size: 18px;
    font-weight: bold;
}

hr.items-mid-break {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 65px;
    border-top: 2px solid orange;
}

.item-subtitle-label {
    color: rgb(133, 133, 133);
    font-size: 16px;
    font-weight: 400 !important;
}

.item-price-label {
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
}

.item-image {
    border-radius: 11px;
    height: 238px;
    width: 326px;
    background-color: #757575;
}

.item-card {
    height: 500px;
    width: 350px;
    background-color: #fbfbfb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid;
    border-radius: 11px;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.item-card-lower-01 {
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.item-card-lower-02 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

a.item-button {
    background-color: var(--primary-color);
    border: 2px, solid, var(--button-border-color-a);
    color: var(--text-color-a);
    height: 100%;
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    align-content: center;
}

a.item-button:hover {
    background-color: var(--hover-color);
}

.filter-panel {
    background-color: #ffefd1;
    border: 3px solid black;
    border-radius: 6px;
    width: 90%;
    padding: 2rem;
    justify-self: anchor-center;
    display: none;
}

.filter-title {
    margin-top: 0px !important;
}

.filter-subtitle {
    margin-top: 0px !important;
}

.filter-flex-container {
    display: flex;
    height: 300px;
    width: 100%;
    justify-content: space-evenly;
    padding: 10px;
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 4px;
    flex-wrap: wrap;
}

.filter-flex-item {
    display: grid;
    background-color: #ffffff;
    width: 100%;
    grid-template-rows: auto 1fr;
}

#genres-container {
    display: grid;
    gap: 2px;
    grid-template-columns: auto auto auto;
}

.msg-feedback {
    background-color: #c4e7b8;
    width: 90%;
    justify-self: anchor-center;
    height: 100px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: calc(100vh - 240px);
    border: 3px, solid, black;
    border-radius: 10px;
    z-index: 1;
    position: fixed;
    display: none;
    justify-content: space-between;
    padding: 1%;
}

.msg-feedback label {
    color: rgb(0, 0, 0);
    font-weight: 500;
    align-content: center;
}

.msg-feedback-button-container {
    display: flex;
    min-width: 260px;
    justify-content: space-between;
    flex-wrap: nowrap;
}

a.ok-button {
    background-color: rgb(68 84 139);
    border: 2px, solid, black;
    color: var(--text-color-a);
    height: 100%; 
    width: 80px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    align-content: center;
    cursor: pointer;
}

a.ok-button:hover {
    background-color: rgb(88, 106, 167);
}

a.goToCart-button {
    background-color: rgb(217, 255, 0);
    border: 2px, solid, black;
    color: black;
    height: 100%; 
    width: 150px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    align-content: center;
    cursor: pointer;
}

a.goToCart-button:hover {
    background-color: rgb(239, 255, 147);
    
}

button.toggle-filters-panel-button {
    height: 50px;
    width: 50px;
    background-color: var(--primary-color);
    color: white;
    font-weight: 600;
    border-radius: 10px 0px 0px 10px;
}

.search-input {
    height: 50px;
    width: 400px;
    min-width: 200px;
    padding-left: 10px;
}

.search-button {
    height: 50px;
    width: 100px;
    background-color: var(--primary-color);
    border-radius: 0px 10px 10px 0px;
    color: white;
    font-weight: 600;
    align-content: center;
}

.msg-feedback-item-name {
    font-weight: 900;
}

.radio + .radio, .checkbox + .checkbox {
    margin-top: 0px !important;
}

.radio, .checkbox {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

/* ---------------------- Orders styles ---------------------- */

.orders-container {
    margin-left: 5%;
    margin-right: 5%;
    width: 60%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    justify-content: space-evenly;
    justify-items: center;
    justify-self: center;
}

.order-card {
    height: 200px;
    width: 100%;
    background-color: rgb(255 255 255);
    border: 1px solid rgb(177 177 177);
    border-radius: 10px;
    padding: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: space-around;
    align-items: anchor-center;
}

.order-card button {
    height: 70px;
    width: 70px;
    background-color: #e30f0f;
    color: white;
    font-weight: 800;
    border: 3px solid #792020;
    border-radius: 10px;
}

/* ---------------------- Cart styles ---------------------- */

.cart-container {
    margin-left: 5%;
    margin-right: 5%;
    width: 800px;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    justify-content: space-around;
    justify-items: center;
}

.cart-card {
    height: 200px;
    width: auto;
    background-color: rgb(255 255 255);
    border: 1px solid rgb(177 177 177);
    border-radius: 10px;
    padding: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    align-items: anchor-center;
}

.cart-img-container {
    height: 175px;
    width: 175px;
}

.cart-img-container img {
    height: 100%;
    width: 100%;
    background-color: #959595;
    border-radius: 10px;
}

.cart-book-info {
    height: 150px;
    width: 200px;
    padding-left: 20px;
    align-content: center;
}

p.cart-title {
    font-weight: 800;
}

p.cart-subtitle {
    color: grey;
    font-weight: 600;
}

.cart-card div.cart-button-container {
    padding-left: 100px;
    min-width: 70px;
}

.cart-card div button {
    height: 70px;
    width: 70px;
    background-color: #e30f0f;
    color: white;
    font-weight: 800;
    border: 3px solid #792020;
    border-radius: 10px;
    
}


/* ---------------------- Settings styles ---------------------- */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: auto;
    margin-right: 10%
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #757575;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--primary-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

a.setting-back-button {
    background-color: var(--primary-color-dark);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--button-border-color-a);
    height: 50px;
    width: 96px;
    border-radius: 10px;
}

a.setting-back-button:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

div.setting-page-banner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--primary-color);
    font-weight: bold;
    height: 70px;
    > h1 {
        color: white
    }
}

.setting-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    height: 50px;
}

.setting-flex-container:hover {
    background-color: var(--text-color-a-50);
    border-radius: 10px;
}

.settings-container {
    background-color: #757575;
    border-color: black;
    border-radius: 10px;
}

.setting-name-container {
    vertical-align: middle;
    margin-left: 10%
}

.setting-name {
    font-weight: bold;
    margin-right: auto;
    text-align: left;
    vertical-align: middle;
}

svg.back-arrow-icon {
    rotate: 180deg;
}

/* ---------------------- Checkout styles ---------------------- */
.checkout-review-container {
    margin-left: 5%;
    margin-right: 5%;
    border: 4px solid var(--button-border-color-a);
    border-radius: 10px;
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    gap: 3px;
    align-items: center;
    justify-items: center;
    height: calc(100vh - 200px);
    padding: 1%;
}

h2.checkout-subtitle {
    justify-self: center;
}

.checkout-content-payment-container {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.checkout-content-payment-subcontainer {
    display: flex;
    flex-direction: column;
    padding: 4%;
    overflow-y: scroll;
    overflow-x: scroll;
    align-items: center;
}

.field-input-container {
    width: 100%
}

input.checkout-submit-button {
    height: 50px;
    width: 135px;
    background-color: var(--primary-color);
    border-radius: 10px 10px 10px 10px;
    color: white;
    font-weight: 600;
    align-content: center;
}

.checkout-content-summary-container {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.checkout-content-summary-subcontainer {
    display: flex;
    height: 70%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 4%;
    overflow-y: scroll;
    overflow-x: scroll;
}

.checkout-content-summary-item-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 85px;
    background-color: aliceblue;
}

.checkout-content-summary-item-container div {
    align-content: center;
}

.checkout-content-summary-item-container div button {
    height: 60%;
    width: 100px;
    background-color: #e30f0f;
    color: white;
    font-weight: 800;
    border: 3px solid #792020;
    border-radius: 10px;
}

p.summary-title {
    font-weight: 800;
    margin: 0px !important;
}

p.summary-total {
    font-weight: 800;
    font-size: x-large;
    margin: 0px !important;
}

.total-info {
    height: 100%;
}

.checkout-vert-line {
    height: 100%;
    width: 3px;
    background-color: #757575;
}

a.orange-button {
    background-color: var(--primary-color);
    border: 2px, solid, var(--button-border-color-a);
    color: var(--text-color-a);
    height: 100%; 
    width: 100px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    align-content: center;
}

a.orange-button:hover {
    background-color: var(--hover-color);
}

a.cart-button-position {
    margin-left: 85%;
    margin-top: 10px
}

/* ---------------------- Login styles ---------------------- */
.login-form {
    background-color: #ffffff;
    margin-top: 10%;
    height: 450px;
    width: 500px;
    padding: 1%;
    justify-self: anchor-center;
    border: 4px solid black;
    box-shadow: 0px 0px 20px;
    border-radius: 10px;
}

.login-title {
    font-size: 32px;
    text-align: center;
}

.login-h-line {
    width: 90%;
    height: 4px;
    background-color: orange;
    justify-self: center;
}

.login-form-field-label {
    color: black;
}

.login-input-button {
    height: 50px;
    width: 135px;
    background-color: var(--primary-color);
    border-radius: 10px 10px 10px 10px;
    color: white;
    font-weight: 600;
    align-content: center;
}

/* ---------------------- Signup styles ---------------------- */

.signup-link-position-right {
    justify-self: right;
    padding-bottom: 20px;
}

.signup-form {
    background-color: #ffffff;
    margin-top: 10%;
    height: 530px;
    width: 500px;
    padding: 1%;
    justify-self: anchor-center;
    border: 4px solid black;
    box-shadow: 0px 0px 20px;
    border-radius: 10px;
}

.signup-input-button {
    height: 50px;
    width: 135px;
    background-color: var(--primary-color);
    border-radius: 10px 10px 10px 10px;
    color: white;
    font-weight: 600;
    align-content: center;
    justify-self: center;
}